<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-column">
        <div class="logo">
          <a href="index.html">
            <img src="../../assets/images/logo2.svg" alt="Logo Movmaq" />
          </a>
        </div>

        <p>
          Melhorando Segurança, produtividade e Eficiência energética desde
          2002.
        </p>

        <div class="social-links">
          <a href="#"
            ><img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg"
              alt="Facebook"
          /></a>

          <a href="#"
            ><img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/twitter.svg"
              alt="Twitter"
          /></a>

          <a href="#"
            ><img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg"
              alt="LinkedIn"
          /></a>
        </div>
      </div>

      <div class="footer-column">
        <h3>Links Rápidos</h3>

        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Serviços</a></li>
          <li><a href="products.html">Produtos</a></li>
          <li><a href="about.html">Sobre Nós</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Nossos Serviços</h3>

        <ul>
          <li><a href="services.html">Serviço 24/7</a></li>
          <li><a href="services.html">Manutenção Preventiva</a></li>
          <li><a href="services.html">Instalações</a></li>
          <li><a href="services.html">Construção</a></li>
          <li><a href="services.html">Eficiência Energética</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Contato</h3>
        <ul class="contact-info">
          <li>
            <i data-lucide="map-pin" class="footer-icon"></i> Rua Exemplo,
            123<br /><span class="footer-indent"
              >Cidade, Estado - CEP 00000-000</span
            >
          </li>

          <li>
            <i data-lucide="phone" class="footer-icon"></i>
            <a href="tel:18666011758">1-866-601-1758</a>
          </li>

          <li>
            <i data-lucide="mail" class="footer-icon"></i>
            <a href="mailto:info@exemplo.com">info@exemplo.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2026 Movmaq. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
